.dh__body {
    display: flex;
    flex-direction: row;
}

.dh__body-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 5rem;
}

.dh__body-content h1 {
    font-family: 'Helvetica';
    font-weight: 600;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}

.dh__body-content p {
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    margin-top: 1.2rem;
}

.dh__body-content__input {
    width: 100%;
    margin: 2rem 0 1rem;
    display: flex;
    flex-direction: row;
}

.dh__body-content__input input {
    flex: 2;
    width: 100%;
    min-height: 50px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    border: 1px solid #5e5756;
    padding: 0 1rem;
    outline: none;
    border-radius: 10px;
}

.dh__body-content__input button {
    flex: 0.6;
    width: 100%;
    min-height: 50px;
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background: #3f51b5;
    border: 1px solid #5e5756;
    padding: 0 1rem;
    color: #fff;
    cursor: pointer;
    outline: none;
    border-radius: 10px;
}

.dh__body-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dh__body-image img {
    width: 90%;
    height: 90%;
}

@media screen and (max-width: 1050px) {
    .dh__body {
        flex-direction: column;
    }

    .dh__body-content {
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 700px) {
    .dh__body-content h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .dh__body-content p {
        font-size: 16px;
        line-height: 24px;
    }
    
    .dh__body-content__people {
        flex-direction: column;
    }

    .dh__body-content__people p {
        margin: 0;
    }

    .dh__body-content__input input,
    .dh__body-content__input button {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 490px) {
    .dh__body-content h1 {
        font-size: 36px;
        line-height: 48px;
    }

    .dh__body-content p {
        font-size: 14px;
        line-height: 24px;
    }

    .dh__body-content__input input,
    .dh__body-content__input button {
        font-size: 12px;
        line-height: 16px;
    }
}